// app global css in SCSS form
//-----------Fonts(Шрифты)-----------Fonts(Шрифты)-----------Fonts(Шрифты)-----------Fonts(Шрифты)-----------Fonts(Шрифты)-----------Fonts(Шрифты)-----------
@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/Mulish/Mulish-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Bold';
  src: url('../assets/fonts/Mulish/Mulish-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

.q-dialog__backdrop {
  background: rgba(6, 9, 31, 0.05) !important;
  backdrop-filter: blur(20px) !important;
}

.q-dialog__inner--minimized {
  padding: 0px;
}
